/* O arquivo CSS seguirá as ordens dos elementos HTML */
/* Atribuições Gerais */
* {
	font-family: var(--fonte-principal);
}
body,
html {
	background-color: var(--cor-mais-escura);
	font-family: var(--fonte-principal);
	color: var(--cor-branca);
	scroll-behavior: smooth;
}
a{color: var(--cor-branca);}
/* Início */
/* Barra de Navegação, o menu é responsivo e se transforma em ícone quando for um dispositivo móvel*/

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	/* position: sticky; */
	top: 0;
	z-index: 100;
}

.logo img {
	width: 150px;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu ul li {
	display: inline-block;
	margin-left: 20px;
}

.menu ul li:first-child {
	margin-left: 0;
}

.menu ul li a {
	color: var(--cor-branca);
	text-decoration: none;
}

/* Fim da Barra de Navegação */
.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-direction: row;
}
.elemento {
	padding: 10px 10px 0px 10px;
	margin: 10px 10px 0px 10px;
	background-color: transparent;
}
.flex-container .elemento {
	width: 30%; /* Define a largura de cada seção */
	text-align: center; /* Alinha o conteúdo ao centro */
}
#nome {
	text-align: end;
	color: var(--cor-branca);
	font-size: 2.5rem;
	font-weight: 700;
	font-style: italic;
}
#container-redes-sociais {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	flex-direction: row;
}
.botoes-rede-sociais {
	width: 44px;
	margin: 10px;
}
#link-whats > a {
	color: white;
}
#link-whats > a > img {
	width: 20px;
}
#link-whats {
	text-align: end;
}
#foto-perfil {
	width: 300px;
}
#destaque {
	color: var(--cor-destaque);
	font-weight: 700;
	text-align: start;
	font-size: 2.5rem;
}
#link {
	font-size: 14px;
	color: var(--cor-branca);
	display: flex;
	font-weight: 900;
}
p {
	font-size: 10px;
	color: var(--cor-clara);
	text-align: justify;
	font-weight: 300;
}

/* Fim do cabeçalho e inicio do link Serviços */
article#servicos {
	background-color: var(--cor-escura);
	padding: 25px;
}
.titulo {
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 25px;
	grid-row-gap: 20px;
}
.grid-itens {
	border-radius: 10px;
	background: #06141b;
	box-shadow: inset -15px 15px 15px #051117, inset 15px -15px 15px #07171f;
	padding: 10px;
	background-color: var(--cor-mais-escura);
}
.grid-itens > p {
	text-align: center;
	color: var(--cor-clara);
}
.grid-itens > ul {
	list-style-type: circle;
	padding: 10px;
}
.grid-itens > ul > li {
	margin-left: 10px;
}
/* Fim de Serviços e Inicio de Habilidades */
#habilidades-container{
	position: static;
	display: flex;
}.progresso-container {
	position: static;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	box-shadow: 25px 20px 40px rgba(60, 60, 150, 0.25);
	display: grid;
	place-items: center;
  }
  .circular-progress {
	position: relative;
	height: 125px;
	width: 125px;
	border-radius: 50%;
	display: grid;
	place-items: center;
  }
  .circular-progress:before {
	content: "";
	position: absolute;
	height: 84%;
	width: 84%;
	background-color: #07171f;
	border-radius: 50%;
  }
  .value-container {
	position: relative;
	font-size: 15px;
	color: var(--cor-branca);
  }
  /* Esse valor tem uso no JavaScript */
  .valor-oculto{
	display: none;
  }
  /* Imagem dos icones das tecnologias */
  .icones-tecnologias{
	
  }
  
  
/* Fim de Habilidades e Inicio do banner  */


/* Banner Animado */

#banner {
	padding: 10px;
	width: 100%;
	height: 50px;
	position: relative;
	overflow: hidden;
	background-color: var(--cor-preta);
}

#banner-texto {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 24px;
	white-space: nowrap;
	animation: move-texto 10s linear infinite;
}

@keyframes move-texto {
	0% {
		left: 0;
	}
	100% {
		left: calc(125% + 50px);
	}
}

/* Fim do Banner */
/* Imagem rotacionando */
img#imagemrotativa {
	padding: 20px;
	width: 100px;
	display: block;
	margin: 0 auto;
	animation: girar infinite 4s linear;
}

@keyframes girar {
	from {
		transform: rotate(0deg); /* Ângulo inicial */
	}
	to {
		transform: rotate(-360deg); /* Ângulo final */
	}
}
/* Inicio da seção Últimos Trabalhos */
article#portfolio {
	padding: 10px 30px;
}
section.inline-item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
	align-items: center;
	padding: 10px;
}
section.inline-item > img {
	display: inline-block;
	width: 60vw;
	height: 50vh;
}
section.inline-item > span {
	display: inline-block;
	align-items: center;
	width: 15vw;
}
section#link-github > a {
	color: white;
	float: right;
}
/* Fim de trabalhos e inicio de sobre mim */
article#sobre-mim {
	background-color: var(--cor-escura);
}
/* Fim sobre mim e inicio de contatos */
article#contato {
	margin: auto;
	width: 40vw;
	background-color: var(--cor-mais-escura);
}
section#form {
	padding: 20px;
	background-color: var(--cor-escura);
	text-align: center;
	/* Efeito de Glassmorphism */
	backdrop-filter: blur(11px) saturate(110%);
	-webkit-backdrop-filter: blur(11px) saturate(110%);
	background-color: rgba(17, 25, 40, 0.31);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}
section#form > form > input {
	width: 60%;
}
section#form > form > button {
	width: 60%;
	color: var(--cor-branca);
	background-color: var(--cor-mais-escura);
	border-color: var(--cor-branca);
}
/* Inicio do Footer */
footer > article > p {
	padding: 10px;
	font-size: 1rem;
	background-color: var(--cor-preta);
	text-align: center;
}
#container-botoes {
	margin-top: 20px;
	text-align: center;
	background-color: var(--cor-preto-leve);
}
