/* O arquivo CSS seguirá as ordens dos elementos HTML */
/* Atribuições Gerais */
* {
	font-family: var(--fonte-principal);
}
body,
html {
	background-color: var(--cor-mais-escura);
	font-family: var(--fonte-principal);
	color: var(--cor-branca);
}
/* Início */
/* Barra de Navegação, o menu é responsivo e se transforma em ícone quando for um dispositivo móvel*/

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.logo img {
	width: 150px;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu ul li {
	display: inline-block;
	margin-left: 20px;
}

.menu ul li:first-child {
	margin-left: 0;
}

.menu ul li a {
	color: var(--cor-branca);
	text-decoration: none;
}

/* Fim da Barra de Navegação */
.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-direction: row;
}
.elemento {
	padding: 10px 10px 0px 10px;
	margin: 10px 10px 0px 10px;
	background-color: transparent;
}
.flex-container .elemento {
	width: 30%; /* Define a largura de cada seção */
	text-align: center; /* Alinha o conteúdo ao centro */
}
#nome {
	text-align: end;
	color: var(--cor-branca);
	font-size: 2.5rem;
	font-weight: 700;
	font-style: italic;
}
#container-redes-sociais {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	flex-direction: row;
}
.botoes-rede-sociais {
	width: 44px;
	margin: 10px;
}
#link-whats > a {
	color: white;
}
#link-whats > a > img {
	width: 20px;
}
#link-whats {
	text-align: end;
}
#foto-perfil {
	width: 300px;
}
#destaque {
	color: var(--cor-destaque);
	font-weight: 700;
	text-align: start;
	font-size: 2.5rem;
}
#link {
	font-size: 14px;
	color: var(--cor-branca);
	display: flex;
	font-weight: 900;
}
p {
	font-size: 10px;
	color: var(--cor-clara);
	text-align: justify;
	font-weight: 300;
}

/* Fim do cabeçalho e inicio do link Serviços */
article#servicos {
	background-color: var(--cor-escura);
	padding: 25px;
}
.titulo {
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 25px;
	grid-row-gap: 20px;
}
.grid-itens {
	border-radius: 10px;
	background: #06141b;
	box-shadow: inset -15px 15px 15px #051117, inset 15px -15px 15px #07171f;
	padding: 10px;
	background-color: var(--cor-mais-escura);
}
.grid-itens > p {
	text-align: center;
	color: var(--cor-clara);
}
.grid-itens > ul {
	list-style-type: circle;
	padding: 10px;
}
.grid-itens > ul > li {
	margin-left: 10px;
}
/* Fim de Serviços e Inicio de Habilidades */

.circle {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #f0f0f0;
  }
  
  .progress {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	clip: rect(0px, 200px, 200px, 100px); /* Ajuste isso conforme a porcentagem */
	background-color: #3498db; /* Cor da porcentagem */
  }
  
  .text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	color: #000; /* Cor do texto */
  }
  