@media screen and (max-width: 768px) {
	/* Header */
	.menu ul li a {
		font-size: 0.8rem;
	}
	.logo img {
		width: 100px;
		z-index: -1;
	}
	.flex-container .elemento {
		width: fit-content; /* Define a largura de cada seção */
		text-align: center; /* Alinha o conteúdo ao centro */
	}
	.botoes-rede-sociais {
		width: 30px;
		margin: 5px;
	}
	#destaque,
	#nome {
		font-size: 1.3rem;
	}
	#foto-perfil {
		width: 200px;
	}
	/* Serviços */
	.grid-container {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
	/* Habilidades */
	#habilidades-container > ul {
		grid-template-columns: repeat(
			auto-fit,
			minmax(150px, 1fr)
		); /* Ajuste para telas menores */
	}
}
