.menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;

	z-index: 1000;
	transition: transform 0.3s ease;
}

.menu.aberto {
	margin-top: 2rem;
	width: fit-content;
	display: flex;
	justify-content: right;
	align-items: center;
	backdrop-filter: blur(14px) saturate(142%);
	-webkit-backdrop-filter: blur(14px) saturate(142%);
	background-color: rgba(6, 20, 27, 0.68);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}

.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.menu ul li {
	margin-bottom: 20px;
	display: inline-block;
}

.menu ul li a {
	color: var(cor-branca); /* Cor dos links do menu */
	font-size: 1.5rem; /* Tamanho da fonte dos links do menu */
	text-decoration: none;
	display: block;
	padding: 10px;
	transition: color 0.3s ease;
}

.menu ul li a:hover {
	color: var(--cor-destaque); /* Cor quando o mouse passa por cima dos links */
}

.menu-botao {
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1100; /* Z-index maior que o do menu para ficar acima */
	cursor: pointer;
}
.oculto {
	display: none;
}
